body{
    margin: 0;
}
.top-banner{
    background-color: #F0FFF0;
    height: 100%;
    padding-bottom: 30px;
}
.logo-img{
    width: 180px;
}
.sign-in-button{
    color: #ffff;
    border: none;
    padding: 5px 15px;
    border-radius: 25px;
    background-color: #21B573;
}
.top-banner-question{
    color: #FD511A;
}
.top-banner-title span{
    color: #21B573;
}
.categories{
    height: 100%;
    padding: 20px 0px;
    text-align: center;
    border-radius: 10px;
    background-color: #F8FFFB;
}
.categories:hover {
    background-color: white;
    box-shadow: 10px 10px 30px lightgrey;
}
.book-1{
    width: 100px;
}
.title{
    text-align: center;
    margin: 20px 0px;
}
.card{
    border: none;
    border-radius: 10px;
    box-shadow: 10px 10px 30px lightgrey;
}
.card-img-top{
    padding: 10px;
}
.icons{
    width: 20px;
    height: 20px;
}
.about-testimonial{
    height: 190px;
}
.blog-area{
    padding: 30px 10px;
    background-color: black;
    color: white;
}